:root {
    --main-color: #00477A;
    /* --primary: #00477A; */
    --primary: #4030f2;
    --primary-gradient: linear-gradient(rgb(86, 72, 251), rgb(60, 46, 221));
    --main-gradient: linear-gradient(90deg, #00477A 0%, #002845 100%);

    --dark: #000;
    --dark-100: #6C849C;
    --grey: #F8FBFD;

    --font-size-s : 8px;
    --font-size-m : 10px;
    --font-size-l : 12px;
    --font-size-xl : 14px;
    --font-size-xxl : 16px;
    --font-size-xxxl : 24px;

    --product-width: 100px;
    --product-padding: 0px;
    --segment-width: 180px;
    --segment-line-height: 98px;
    --segment-padding: 5px;
    --product-height: calc(var(--segment-line-height) - calc(var(--segment-padding) * 2));
    --product-gap: 0px;
    --segment-gap: 10px;
    --col-size: 420px;
    --left-col-size: calc(var(--product-width) + var(--segment-width));
    --col-gap: 2px;

    --header-height: 72px;

    --border: solid 1px #E0E0E0;
    --header-cols-height: 40px;
}