:root {
    --main-color: #00477A;
    /* --primary: #00477A; */
    --primary: #4030f2;
    --primary-gradient: linear-gradient(rgb(86, 72, 251), rgb(60, 46, 221));
    --main-gradient: linear-gradient(90deg, #00477A 0%, #002845 100%);

    --dark: #000;
    --dark-background: #212839;
    --dark-100: #39424b;
    --dark-200: #6C849C;
    --dark-hover: #ECF0F3;
    --grey: #F8FBFD;
    --danger: #E12D4B;

    --bloc-background: #F8F9FB;
    --bloc-border: solid 1px white;

    --font-size-s : 9px;
    --font-size-m : 10px;
    --font-size-l : 11px;
    --font-size-xl : 13px;
    --font-size-xxl : 16px;
    --font-size-xxxl : 24px;

    --products-gap: 10px;
    --product-header-height: 40px;
    --product-width: 5px;
    --product-padding: 0px;
    --segment-width: 150px;
    --segment-line-height: 98px;
    --segment-padding: 5px;
    --product-height: calc(var(--segment-line-height) - calc(var(--segment-padding) * 2));
    --product-gap: 0px;
    --segment-gap: 10px;
    --col-size: 420px;
    --left-col-size: calc(var(--product-width) + var(--segment-width));
    --col-gap: 2px;

    --nav-width: 210px;
    --header-height: 64px;

    --border: solid 1px #E0E0E0;
    --border-dashed: dashed 1px #C3C7D3;
    --header-cols-height: 40px;


    --background: #f1f3f5;
    --background-2: #ffffff;
}